.todoItem {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-top: 2px solid black;
}

.todoItem p {
    color: black;
}